# Managed by IDARSI
START_KNOCKD=1
OPTIONS="{% if fw_knockd_effective_interface | default('') | length > 0 %}-i {{ fw_knockd_effective_interface }}{% endif %}"
KNOCKD_OPTS="{% if fw_knockd_effective_interface | default('') | length > 0 %}-i {{ fw_knockd_effective_interface }}{% endif %}"
