# Managed by IDARSI
[options]
    UseSyslog
{% if fw_knockd_effective_interface | default('') | length > 0 %}
    Interface = {{ fw_knockd_effective_interface }}
{% endif %}

{% for rule in fw_knockd_rules %}
[idarsi-{{ loop.index }}-{{ rule.listen_ip | replace('.', '-') | replace('/', '-') }}-{{ rule.protected_port }}]
    sequence      = {{ (rule.knock_sequence | map('string') | list) | join(',') }}
    seq_timeout   = {{ rule.sequence_timeout | default(fw_knockd_default_sequence_timeout) }}
    tcpflags      = syn
    command       = /usr/bin/firewall-cmd --zone={{ rule.zone | default(fw_knockd_configuration.zone | default(fw_knockd_default_zone)) }} --add-rich-rule='rule family="ipv4" source address="{{ rule.listen_ip }}" port port="{{ rule.protected_port }}" protocol="{{ rule.protocol | default(fw_knockd_default_protocol) }}" accept' --timeout={{ rule.open_duration | default(fw_knockd_default_open_duration) }}

{% endfor %}
